h1 {
      position: relative;
      padding: 0.25em 0;
      text-align: center;
}
h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}

body{
    background-color:#AEFFBD;
    text-align: center;
}
