<h1>コンビニサービス検索サイト</h1>



<h3>店舗検索</h3>
<%= form_tag stores_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "検索", :name => nil %>
  </p>
<% end %>

<% @stores.each do |e| %>
<%= link_to e.name, stores_path(e) %>
<% end %>


<%= link_to 'ログアウト' , users_logout_path %>