<h1>コンビニサービス検索サイト</h1>

<p><% flash[:miss] %></p>


<%= form_for @users, url: {action: :create} do |t| %>
<p>
  <%= t.label :name, '名前:' %>
  <%= t.text_field :name %>
  <br>
  <%= t.label :pass, 'パスワード:' %>
  <%= t.text_field :pass %>
<% end %>

<p><%= link_to '戻る', root_path %></p>
<%= link_to '客側新規登録', new_user_path %>


