<h1>新規登録（お客様）</h1>

<%= form_for @users, url: {action: :create} do |f| %>
<p>
  <%= f.label :name, '名前:' %>
  <%= f.text_field :name %>
  
    <%= f.label :pass, 'パスワード:' %>
    <%= f.password_field :pass %>
</p>
<p>
  <%= f.submit '登録' %>
</p>
<% end %>
  <p><%= link_to '戻る', root_path %></p>

