<h1>コンビニサービス検索サイト</h1>

<% if flash[:success] %>
<%= flash[:success] %>
<% end %>
  
<% if flash[:danger] %>
<%= flash[:danger] %>
<% end %>

<%= form_for @stores, url: {action: :update} do |f| %>
<p>
  <%= f.label :name, '店舗名:' %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :pass, 'パスワード:' %>
  <%= f.text_field :pass %>
  <br>
  <%= f.label :tel, 'TEL(ハイフン無し):' %>
  <%= f.text_field :tel %>
  <br>
  <%= f.label :period_product, '期間限定の商品:' %>
  <%= f.text_field :period_product %>
  <br>
  <%= f.label :store_product, '当店限定の商品:' %>
  <%= f.text_field :store_product %>
  <br>
  <%= f.label :pay, 'お支払い方法(クレジット、スマホ決済等):' %>
  <%= f.text_field :pay %>
  <br>
  <%= f.label :card, 'ご利用可能なカード:' %>
  <%= f.text_field :card %>
  <br>
  <%= f.label :atm, 'ATM:' %>
  <%= f.text_field :atm %>
  <br>
  <%= f.label :other, 'おしらせ:' %>
  <%= f.text_field :other %>
</p>
<p>
  <%= f.submit '登録' %>
</p>
<% end %>

<p><%= link_to '戻る', stores_path %></p>