<h1><button><%= link_to 'ログアウト', stores_login_path %></button>コンビニサービス検索サイト</h1>
<% @store = Store.new unless @post %>
<% @stores.each do |store| %>
<p><h2><%= store.name %>様トップページ</h2>
<button><%= link_to '登録内容を編集' , stores_edit_path %></button>
</p>
<hr>
<strong>
    <p>TEL：<td><%= store.tel %></td></p>
    <p>期間限定の商品：<td><%= store.period_product %></td></p>
    <p>当店限定の商品：<td><%= store.store_product %></td></p>
    <p>お会計方法：<td><%= store.pay %></td></p>
    <p>ご利用できるカード：<td><%= store.card %></td></p>
    <p>ATM：<td><%= store.atm %></td></p>
    <p>その他おしらせ：<td><%= store.other %></td></p>
</strong>
<% end %>