<h1>コンビニサービス検索サイト</h1>
<% @store = Store.new unless @post %>

<h2>企業様ログインページ</h2>
  
  <% if flash[:info] %>
    <%= flash[:info] %>
  <% end %>
  
  <% if flash[:warning] %>
    <% pp flash %>
    <%= flash[:warning] %>
  <% end %>
  
<%= form_tag '/stores/login',method: :post do %>
  <%= label_tag :name, '企業・店舗名' %>
  <%= text_field_tag :name %>
  <%= label_tag :pass, 'パスワード' %>
  <%= password_field_tag :pass %>
  <%= submit_tag 'サインイン' %>
<% end %>

<br>
<%= link_to '企業・店舗新規登録はこちらへ', new_store_path %>
<button><%= link_to '戻る', root_path %></button>